$bgcolor: #b48484;

@import './styles.scss';                             // we can import styles from other mosule/file.

@mixin setitem($direction, $gap, $color) {          // here we can give ($gap:30px) if not included in include setitem.
  display: flex;
  flex-direction: $direction;                       // mixin syntax
  gap: $gap;
}
.app {
  border: 2px solid blue;
  background-color: $backgroundcolor;
  .btn {
    background-color: $bgcolor;
    border: none;
    color: white;
    &:hover {
      background-color: rgb(153, 101, 101);
      color: #020202;
    }
  }
  .container{
    // margin: 20px;
    @include setitem(column, 50px , red );        // using mixins
  }
}

// sass => we use Mixins => functions
